<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="flex min-h-screen text-gray-800">
{{> mobilemenu}}
{{> aside}}

<main class="flex-1 p-6 md:p-10 overflow-auto">
  {{> dashboard}}
  {{#if isAdmin}}
  {{> user users=users}}
  {{/if}}
  {{> student students=students}}
  {{> candidate candidates=candidates}}
  {{> course courses=courses }}
  {{> trainer trainers=trainers }}
  {{> blog blogs=blogs }}
  {{> schedule schedules=schedules }}
  {{> analistic}}
  {{#if isAdmin}}
  {{> seo seoEntries=seoEntries}}
  {{> faq faqEntries=faqEntries}}
  {{> pages pageEntries=pageEntries}}
  {{> setting}}
  {{/if}}
</main>

{{> modal}}
<script>
  history.pushState(null, '', location.href);
  window.addEventListener('popstate', function () {
    history.pushState(null, '', location.href);
  });
</script>
<script src="/javascript/admin.js"></script>
</body>
</html>
