<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonder Kid Login & Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body class="flex items-center justify-center min-h-screen p-4 md:p-8">
<div class="bg-white rounded-3xl shadow-2xl overflow-hidden max-w-6xl w-full flex flex-col md:flex-row-reverse">

  <!-- Form Section -->
  <div class="w-full md:w-1/2 p-8 md:p-16 flex flex-col justify-center">

    <!-- Custom Logo SVG -->
    <div class="flex justify-center mb-8">
      <svg width="191" height="42" viewBox="0 0 191 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M40.0628 3.66277C39.7613 3.6529 39.4576 3.64633 39.155 3.6255C37.6564 3.52245 37.6454 3.69018 37.7389 2.52924C37.7532 2.36699 37.7389 2.20036 37.762 2.03811C37.8148 1.67196 37.652 1.56891 37.2999 1.55795C36.3668 1.52506 35.4359 1.46587 34.504 1.41544C33.0735 1.32993 33.0647 1.32664 33.0394 2.76493C33.0317 3.12122 32.9426 3.23523 32.5795 3.20344C31.2107 3.10477 29.8386 3.05106 28.4698 2.94691C27.4443 2.87017 27.4465 2.84606 27.5147 1.80461C27.5235 1.6599 27.5147 1.51191 27.5367 1.36611C27.5818 1.04271 27.4652 0.91664 27.1219 0.904581C26.2075 0.876079 25.2943 0.808111 24.3799 0.758779C23.9068 0.733565 23.3071 0.529661 22.9935 0.743431C22.6194 0.997764 22.8471 1.65662 22.7734 2.13458C22.7718 2.15282 22.7718 2.17116 22.7734 2.1894C22.802 2.47991 22.6634 2.5709 22.3828 2.54897C21.7226 2.49854 21.0679 2.47662 20.411 2.41523C20.0545 2.38015 19.9357 2.50073 19.9214 2.85921C19.8829 3.84584 19.8114 4.8248 19.742 5.80815C19.632 7.51612 19.5066 9.22628 19.3987 10.9364C19.3811 11.2083 19.2887 11.5208 19.7827 11.5394C21.025 11.5865 22.2662 11.6786 23.5073 11.7586C27.5609 12.0144 31.6145 12.2702 35.6681 12.526L39.1715 12.7069C39.3273 12.7148 39.4801 12.6621 39.5976 12.5598C39.7151 12.4575 39.788 12.3137 39.8009 12.1588L40.0771 8.91933C40.1948 7.28481 40.3093 5.65138 40.4336 4.01686C40.46 3.72745 40.306 3.66825 40.0628 3.66277ZM25.4703 9.64286C25.0069 9.6511 24.5515 9.52199 24.1618 9.27192C23.7722 9.02186 23.4659 8.66211 23.2818 8.23832C23.0977 7.81453 23.0441 7.3458 23.1278 6.89162C23.2115 6.43744 23.4288 6.01827 23.752 5.6873C24.0752 5.35633 24.4898 5.12848 24.9432 5.03266C25.3966 4.93685 25.8684 4.97738 26.2986 5.14912C26.7289 5.32086 27.0982 5.61607 27.3598 5.99728C27.6213 6.3785 27.7634 6.82853 27.7678 7.29029C27.7667 8.61019 26.7654 9.63738 25.4703 9.64286ZM34.3378 10.2118C33.0834 10.2009 32.0381 9.11556 32.048 7.83842C32.0668 7.23025 32.3249 6.65383 32.7666 6.23362C33.2083 5.81341 33.7981 5.58312 34.4088 5.59248C35.0194 5.60183 35.6019 5.85008 36.0304 6.28362C36.4589 6.71716 36.6991 7.30121 36.6991 7.90968C36.6878 8.52547 36.4338 9.11213 35.992 9.5429C35.5502 9.97366 34.956 10.2139 34.3378 10.2118Z"
          fill="#DB1016" />
        <path
          d="M55.936 26.5198C55.8143 26.5126 55.6923 26.5126 55.5707 26.5198C55.2406 26.5592 55.0964 26.4715 55.0326 26.101C54.8731 25.1725 53.9708 24.5235 53.019 24.5794C52.0673 24.6353 51.2585 25.4673 51.2068 26.4123C51.184 26.8748 51.3305 27.3298 51.6191 27.6928C51.9077 28.0557 52.3187 28.3019 52.7759 28.3856C53.0817 28.4415 53.2006 28.5489 53.1676 28.8526C53.1577 29.0428 53.1577 29.2335 53.1676 29.4237C53.1676 30.2788 53.1676 30.2668 52.3346 30.0815C51.4396 29.8707 50.6553 29.3358 50.1341 28.5809C49.6129 27.826 49.3921 26.9049 49.5145 25.9968C49.7137 24.3579 51.231 22.935 52.9497 22.8517C53.8525 22.8047 54.7415 23.0871 55.4504 23.646C56.1593 24.2049 56.6394 25.0021 56.8008 25.8883C56.9109 26.5209 56.9109 26.5209 55.936 26.523"
          fill="#DB1016" />
        <path
          d="M37.3878 39.5038C37.401 40.018 37.4109 40.5332 37.4285 41.0485C37.4373 41.282 37.3064 41.3434 37.0984 41.3434C35.2081 41.3434 33.3177 41.3467 31.4274 41.3532C31.1842 41.3532 31.083 41.2666 31.0918 41.0244C31.1094 40.5234 31.1105 40.0224 31.1182 39.5225C31.8719 39.3558 32.641 39.4436 33.3991 39.4129C34.1942 39.3666 34.9911 39.3604 35.7868 39.3942C36.3183 39.4282 36.8553 39.3942 37.3823 39.5038"
          fill="#DB1016" />
        <path
          d="M51.5556 21.7204C50.2671 20.4597 48.9962 19.1814 47.7155 17.9131C46.8275 17.036 45.9318 16.159 45.0395 15.2897C44.6522 14.8578 44.6522 14.8578 44.091 15.498C43.2867 16.3081 42.4295 17.0678 41.6879 17.9394C41.6087 18.14 41.7869 18.2222 41.886 18.3198C42.7427 19.1705 43.5966 20.0244 44.4475 20.8817C45.3421 21.7894 46.3004 22.6357 47.1257 23.6114C47.4855 24.1256 47.9927 24.5005 48.3988 24.9686C48.6276 25.2328 48.7894 25.2054 49.0226 24.9686C49.8567 24.1091 50.6962 23.254 51.5633 22.4274C51.8582 22.1457 51.8219 21.9889 51.5556 21.7247"
          fill="#DB1016" />
        <path
          d="M4.92834 12.6652C3.90064 11.7882 2.17753 11.6786 0.91216 12.3955C0.354297 12.7146 0.347695 12.754 0.770218 13.255C0.90182 13.3928 1.02387 13.5393 1.13553 13.6935C1.33798 14.0125 1.53384 14.0355 1.88484 13.8558C2.2815 13.6505 2.73815 13.5913 3.17433 13.6885C3.61052 13.7858 3.99826 14.0333 4.26924 14.3874C4.8194 15.1066 4.8018 16.1415 4.23733 16.7992C3.60795 17.5282 2.56814 17.8056 1.80452 17.2443C1.22025 16.8157 0.924264 17.025 0.538051 17.3989C0.427222 17.5091 0.306407 17.6089 0.177145 17.697C-0.0506217 17.8593 -0.0572237 17.9908 0.148537 18.1882C0.536042 18.5621 0.996762 18.8525 1.50193 19.0411C2.85093 19.5289 4.56633 19.1057 5.46309 18.0544C6.45338 16.8902 6.68115 15.2195 6.01325 13.9983C5.80153 13.4527 5.4222 12.9876 4.92944 12.6696"
          fill="#154E9C" />
        <path
          d="M16.5533 14.8282C14.7531 14.6835 12.9563 14.5135 11.1617 14.359C9.91501 14.2493 8.66725 14.1562 7.42058 14.0553C6.84621 13.9709 6.84621 13.9709 6.82641 14.8227C6.73068 15.9584 6.56123 17.0886 6.55353 18.2309C6.62175 18.4359 6.811 18.3855 6.94964 18.3976C8.16 18.5072 9.36045 18.6092 10.5642 18.7265C11.8351 18.8514 13.1158 18.8887 14.3768 19.1101C14.982 19.2746 15.6136 19.2384 16.2265 19.3382C16.572 19.3952 16.6776 19.2702 16.7029 18.9369C16.7898 17.7442 16.8834 16.5515 17.0176 15.3642C17.0627 14.9597 16.9307 14.8589 16.5588 14.8293"
          fill="#154E9C" />
        <path
          d="M24.4546 7.28809C24.4679 7.02234 24.583 6.77182 24.7763 6.58822C24.9696 6.40462 25.2263 6.30197 25.4933 6.30145C25.626 6.30708 25.7564 6.33877 25.8768 6.39471C25.9972 6.45065 26.1053 6.52972 26.195 6.6274C26.2846 6.72508 26.3541 6.83945 26.3992 6.96392C26.4444 7.0884 26.4645 7.22054 26.4583 7.35277C26.4363 7.90089 25.9477 8.36681 25.4229 8.3394C25.1564 8.32222 24.9069 8.20314 24.7265 8.00704C24.5461 7.81093 24.4487 7.55296 24.4546 7.28699"
          fill="#191919" />
        <path
          d="M35.3699 7.88337C35.3729 8.01527 35.3496 8.14647 35.3014 8.26934C35.2531 8.3922 35.1808 8.50427 35.0886 8.59903C34.9965 8.6938 34.8863 8.76937 34.7646 8.82134C34.6429 8.87332 34.512 8.90067 34.3796 8.90179C34.1122 8.90104 33.8556 8.79659 33.6641 8.61058C33.4727 8.42456 33.3615 8.1716 33.3541 7.90529C33.3515 7.7734 33.3757 7.64236 33.4253 7.52003C33.4749 7.3977 33.5487 7.28662 33.6424 7.19344C33.7362 7.10027 33.8478 7.02692 33.9707 6.97782C34.0936 6.92872 34.2252 6.90487 34.3576 6.9077C34.955 6.9077 35.3699 7.30564 35.3655 7.88337"
          fill="#191919" />
        <path
          d="M39.5422 33.9371H19.9455C19.8015 33.9418 19.6615 33.8894 19.5563 33.7913C19.4511 33.6933 19.3892 33.5576 19.3843 33.4141V26.1427C19.3895 25.9994 19.4515 25.864 19.5567 25.7662C19.6619 25.6684 19.8017 25.6161 19.9455 25.6208H39.5422C39.6861 25.6161 39.8259 25.6684 39.9311 25.7662C40.0363 25.864 40.0982 25.9994 40.1034 26.1427V33.4141C40.0985 33.5576 40.0367 33.6933 39.9315 33.7913C39.8262 33.8894 39.6862 33.9418 39.5422 33.9371Z"
          fill="#FDCB04" />
        <path
          d="M26.5892 38.5348H21.9624C21.8818 38.5348 21.8046 38.5029 21.7476 38.4462C21.6907 38.3894 21.6587 38.3125 21.6587 38.2322V34.8875C21.6587 34.8073 21.6907 34.7303 21.7476 34.6736C21.8046 34.6168 21.8818 34.585 21.9624 34.585H26.5892C26.6292 34.5848 26.6687 34.5925 26.7056 34.6077C26.7425 34.6229 26.7761 34.6451 26.8043 34.6733C26.8325 34.7014 26.8549 34.7348 26.8701 34.7716C26.8853 34.8083 26.8931 34.8478 26.8929 34.8875V38.2322C26.8931 38.272 26.8853 38.3114 26.8701 38.3482C26.8549 38.385 26.8325 38.4184 26.8043 38.4465C26.7761 38.4746 26.7425 38.4969 26.7056 38.512C26.6687 38.5272 26.6292 38.5349 26.5892 38.5348Z"
          fill="#154E9C" />
        <path
          d="M27.1196 41.3533H21.508C21.4467 41.3533 21.3879 41.329 21.3446 41.2858C21.3013 41.2427 21.2769 41.1841 21.2769 41.1231V39.6091C21.2769 39.5481 21.3013 39.4895 21.3446 39.4463C21.3879 39.4032 21.4467 39.3789 21.508 39.3789H27.1196C27.181 39.3789 27.2399 39.4031 27.2834 39.4463C27.3269 39.4894 27.3515 39.548 27.3518 39.6091V41.1231C27.3515 41.1842 27.3269 41.2428 27.2834 41.2859C27.2399 41.3291 27.181 41.3533 27.1196 41.3533Z"
          fill="#154E9C" />
        <path
          d="M36.5087 38.5786H31.8808C31.8408 38.5782 31.8012 38.5699 31.7644 38.5542C31.7276 38.5386 31.6942 38.5158 31.6662 38.4873C31.6382 38.4588 31.6162 38.4251 31.6012 38.3881C31.5863 38.3511 31.5789 38.3115 31.5793 38.2716V34.9259C31.5796 34.8458 31.6117 34.7691 31.6686 34.7126C31.7256 34.6561 31.8026 34.6244 31.883 34.6244H36.5087C36.589 34.6244 36.666 34.6562 36.7227 34.7127C36.7795 34.7692 36.8113 34.8459 36.8113 34.9259V38.2716C36.8119 38.3117 36.8045 38.3514 36.7896 38.3885C36.7747 38.4257 36.7525 38.4595 36.7243 38.488C36.6962 38.5166 36.6627 38.5393 36.6256 38.5548C36.5886 38.5704 36.5489 38.5785 36.5087 38.5786Z"
          fill="#DB1016" />
        <path
          d="M31.0181 24.1705H39.6458C39.7497 24.1708 39.8496 24.1304 39.9239 24.058C39.9982 23.9856 40.041 23.887 40.043 23.7835L40.2201 15.8126C40.2215 15.7593 40.212 15.7064 40.1923 15.6568C40.1726 15.6073 40.143 15.5623 40.1054 15.5244C40.0678 15.4865 40.0229 15.4566 39.9734 15.4364C39.9239 15.4162 39.8709 15.4062 39.8174 15.407L38.0954 15.4289C37.9901 15.4301 37.8887 15.3897 37.8132 15.3166C37.7378 15.2434 37.6944 15.1435 37.6927 15.0386L37.6784 14.1375C37.6767 14.0336 37.6341 13.9345 37.5598 13.8615C37.4855 13.7886 37.3855 13.7475 37.2812 13.7473H33.6413C33.5882 13.7472 33.5357 13.7578 33.4868 13.7783C33.4379 13.7988 33.3936 13.8288 33.3565 13.8666C33.3194 13.9044 33.2902 13.9491 33.2707 13.9983C33.2512 14.0475 33.2418 14.1 33.243 14.1529L33.2606 14.9444C33.2627 15.0482 33.2239 15.1486 33.1525 15.2242C33.0811 15.2999 32.9829 15.3446 32.8788 15.3489L31.0236 15.4212C30.9212 15.4255 30.8242 15.4688 30.753 15.5423C30.6817 15.6157 30.6415 15.7137 30.6407 15.8159L30.6209 23.7791C30.6206 23.8312 30.6307 23.8829 30.6505 23.9311C30.6704 23.9793 30.6996 24.0231 30.7365 24.06C30.7735 24.0969 30.8174 24.1261 30.8657 24.146C30.914 24.1659 30.9658 24.1761 31.0181 24.176"
          fill="#154E9C" />
        <path
          d="M20.0148 24.1705H28.6425C28.7464 24.1708 28.8463 24.1304 28.9206 24.058C28.9949 23.9856 29.0377 23.887 29.0397 23.7835L29.2168 15.8126C29.2182 15.7593 29.2087 15.7064 29.189 15.6568C29.1693 15.6073 29.1397 15.5623 29.1021 15.5244C29.0645 15.4865 29.0196 15.4566 28.9701 15.4364C28.9207 15.4162 28.8676 15.4062 28.8141 15.407L27.0921 15.4289C26.9868 15.4301 26.8854 15.3897 26.8099 15.3166C26.7345 15.2434 26.6911 15.1435 26.6894 15.0386L26.6751 14.1375C26.6734 14.0336 26.6308 13.9345 26.5565 13.8615C26.4822 13.7886 26.3822 13.7475 26.2779 13.7473H22.638C22.5849 13.7472 22.5324 13.7578 22.4835 13.7783C22.4346 13.7988 22.3903 13.8288 22.3532 13.8666C22.3161 13.9044 22.2869 13.9491 22.2674 13.9983C22.248 14.0475 22.2385 14.1 22.2397 14.1529L22.2573 14.9444C22.2594 15.0482 22.2206 15.1486 22.1492 15.2242C22.0779 15.2999 21.9796 15.3446 21.8755 15.3489L20.0203 15.4212C19.9179 15.4255 19.8209 15.4688 19.7497 15.5423C19.6784 15.6157 19.6382 15.7137 19.6374 15.8159L19.6176 23.7791C19.6173 23.8312 19.6274 23.8829 19.6472 23.9311C19.6671 23.9793 19.6963 24.0231 19.7332 24.06C19.7702 24.0969 19.8141 24.1261 19.8624 24.146C19.9107 24.1659 19.9625 24.1761 20.0148 24.176"
          fill="#07993A" />
        <path
          d="M71.56 24.4717C71.5987 24.465 71.6554 24.4717 71.6625 24.4523C71.7051 24.3568 71.7373 24.2566 71.7586 24.1537C71.902 23.31 72.0576 22.47 72.2691 21.642C72.3661 21.2477 72.4947 20.8626 72.6534 20.4907C72.7533 20.2554 72.8838 20.0356 73.0413 19.8374C73.465 19.3147 74.2709 19.3476 74.6803 19.8374C74.8312 20.0142 74.9374 20.2275 74.9893 20.4578C75.061 20.7916 75.1327 21.1298 75.2108 21.4591C75.5399 22.9172 75.8654 24.3769 76.2024 25.8336C76.3035 26.2704 76.434 26.6989 76.553 27.1312C76.5924 27.2709 76.6419 27.3246 76.6892 27.2977C76.7236 27.2741 76.7513 27.2415 76.7696 27.203C76.7879 27.1646 76.796 27.1218 76.7932 27.079C76.8491 26.3742 76.9115 25.6701 76.9509 24.9653C77.0269 23.6176 77.0893 22.2692 77.1567 20.9222C77.161 20.8364 77.166 20.7513 77.1689 20.6654C77.2183 19.1019 77.2721 17.5392 77.3122 15.9758C77.3567 14.3698 77.3911 12.7653 77.4298 11.157C77.4298 11.0711 77.4341 10.9853 77.4391 10.8994C77.4499 10.7105 77.5266 10.6314 77.7137 10.6388C78.3511 10.6635 78.9885 10.6948 79.6252 10.7247C79.6663 10.7294 79.7045 10.749 79.7333 10.7799C79.7621 10.8108 79.7797 10.8512 79.7829 10.8942C79.7879 11.0226 79.7951 11.151 79.7922 11.2787C79.7621 12.4788 79.7308 13.6781 79.6983 14.8767C79.6983 15.0052 79.6897 15.1336 79.6861 15.262C79.6288 17.254 79.5858 19.246 79.5105 21.2351C79.4588 22.6051 79.4452 23.9767 79.4022 25.3468C79.3752 26.4393 79.2508 27.5268 79.0308 28.5954C78.9444 29.0144 78.8198 29.4239 78.6587 29.8184C78.5337 30.1361 78.363 30.4322 78.1525 30.6964C77.7439 31.1907 77.2319 31.3923 76.6089 31.2937C76.4259 31.2634 76.251 31.1935 76.0956 31.0884C75.854 30.9239 75.6418 30.717 75.4682 30.4769C75.1923 30.1012 74.9594 29.6933 74.7742 29.2614C74.4593 28.5398 74.1957 27.7952 73.9855 27.0334C73.9574 26.9551 73.9216 26.8801 73.8787 26.8094C73.8715 26.7945 73.8436 26.7885 73.8242 26.7863C73.8048 26.7841 73.7826 26.7923 73.7783 26.8027C73.7534 26.8606 73.7323 26.9202 73.7152 26.9812C73.5524 27.689 73.3464 28.3852 73.0986 29.0658C72.9552 29.4428 72.7903 29.8124 72.6104 30.1738C72.4909 30.3985 72.3525 30.6116 72.1967 30.8107C72.1065 30.9276 72.0019 31.0315 71.8855 31.1198C71.522 31.408 71.1349 31.4423 70.7384 31.2034C70.4087 31.0204 70.151 30.7229 70.0099 30.3627C69.8806 30.0245 69.7818 29.6746 69.7145 29.3174C69.6027 28.7295 69.5088 28.1384 69.4328 27.5441C69.3467 26.8863 69.2815 26.2256 69.2177 25.5648C69.1625 24.9675 69.1159 24.3702 69.0829 23.7729C69.0227 22.682 68.9825 21.5897 68.9216 20.4996C68.7954 18.2314 68.8083 15.9586 68.7309 13.6896C68.7036 12.8974 68.7029 12.1045 68.6929 11.3116C68.6875 11.2048 68.6945 11.0978 68.7136 10.9928C68.7352 10.9361 68.7775 10.8908 68.8312 10.8666C68.8893 10.8447 68.9509 10.8348 69.0126 10.8375C69.5862 10.8175 70.1619 10.7986 70.7398 10.7807C70.8011 10.7748 70.8629 10.7824 70.9212 10.8031C70.9777 10.8262 71.0233 10.8715 71.0481 10.9293C71.0745 11.0544 71.0885 11.182 71.0897 11.3101C71.1033 11.8245 71.1083 12.3382 71.1227 12.8519C71.1518 13.9658 71.1831 15.0796 71.2166 16.1931C71.2166 16.2998 71.2238 16.4066 71.2266 16.5141C71.2833 18.2269 71.3342 19.9397 71.398 21.6524C71.4302 22.5305 71.484 23.407 71.5299 24.2843C71.5368 24.3473 71.5469 24.4098 71.56 24.4717Z"
          fill="#154E9C" />
        <path
          d="M83.5496 20.7081C83.5645 20.5231 83.569 20.5039 83.5832 20.333C83.6075 20.037 83.6259 19.741 83.6383 19.445C83.6809 18.3636 83.8133 17.2875 84.034 16.2277C84.2153 15.3114 84.5177 14.4229 84.9334 13.5853C85.3243 12.8046 85.8528 12.0996 86.4937 11.5037C86.6491 11.3583 86.8293 11.2413 87.0258 11.1582C87.7125 10.8615 88.4465 10.6874 89.1941 10.6439C90.185 10.5945 91.1639 10.8772 91.9735 11.4468C92.411 11.7525 92.8019 12.1191 93.1345 12.5353C93.7581 13.3048 94.2 14.172 94.5256 15.0985C94.8842 16.1428 95.1112 17.2272 95.2015 18.3269C95.3372 19.8701 95.3698 21.4205 95.2991 22.968C95.2537 24.3048 95.0438 25.631 94.6739 26.9172C94.5076 27.4877 94.2862 28.0411 94.013 28.5695C93.8171 28.9469 93.5818 29.3028 93.3111 29.6313C92.6201 30.4822 91.6394 31.0523 90.554 31.2341C90.0499 31.3268 89.5376 31.3692 89.025 31.3606C87.4602 31.3362 86.2299 30.688 85.3134 29.4367C84.8813 28.8296 84.5449 28.1607 84.3157 27.4529C84.0618 26.6875 83.879 25.9006 83.7695 25.102C83.6994 24.6188 83.6473 24.1349 83.6204 23.6473C83.6108 23.4982 83.5916 23.3499 83.5631 23.2033C83.5429 23.096 83.5228 22.3153 83.5183 22.1984C83.4736 21.0004 83.4923 21.4104 83.5496 20.7081ZM85.9729 21.6812C85.9453 22.319 86.0206 22.9524 86.0571 23.5873C86.1104 24.4341 86.2489 25.2735 86.4706 26.0928C86.5876 26.5448 86.7537 26.9827 86.9661 27.3989C87.1355 27.7415 87.3623 28.053 87.6368 28.3201C87.9154 28.5877 88.2723 28.7607 88.6561 28.8144C89.0997 28.8871 89.5517 28.8943 89.9974 28.8359C90.1233 28.8162 90.2478 28.7883 90.37 28.7523C90.9527 28.5865 91.3834 28.2202 91.7112 27.7304C91.8871 27.4643 92.0283 27.1771 92.1315 26.8757C92.3028 26.3741 92.4275 25.8579 92.5041 25.3336C92.6191 24.5574 92.6922 23.7756 92.7231 22.9917C92.8051 21.3815 92.8401 19.7713 92.6449 18.1634C92.5645 17.4474 92.4274 16.7388 92.2351 16.0442C92.1134 15.5939 91.9433 15.1581 91.7276 14.744C91.5516 14.4044 91.3255 14.0926 91.057 13.8191C90.7274 13.4805 90.3051 13.2451 89.8424 13.142C89.4649 13.0624 89.0754 13.0566 88.6956 13.125C88.3543 13.1758 88.0431 13.3481 87.8201 13.6097C87.578 13.9066 87.3775 14.2346 87.224 14.5849C86.9469 15.2041 86.7308 15.8484 86.5787 16.5089C86.1577 18.2085 86.0168 19.9386 85.9729 21.6812Z"
          fill="#154E9C" />
        <path
          d="M107.435 26.4815C107.467 26.3917 107.492 26.2995 107.509 26.2057C107.538 25.8615 107.568 25.518 107.583 25.1731C107.742 20.6639 107.739 16.1592 107.658 11.6507C107.653 11.3922 107.652 11.1337 107.658 10.8744C107.658 10.7309 107.753 10.6489 107.907 10.6452C108.569 10.6407 109.23 10.6384 109.892 10.6384C109.935 10.6375 109.977 10.6473 110.015 10.667C110.05 10.6865 110.097 10.7233 110.1 10.7564C110.119 10.9276 110.13 11.0997 110.131 11.272C110.135 14.9605 110.137 18.6488 110.138 22.3368C110.138 23.3288 110.138 24.3211 110.138 25.3136C110.132 26.3491 110.049 27.3828 109.887 28.4054C109.813 28.9175 109.685 29.4201 109.505 29.9047C109.412 30.1695 109.284 30.4199 109.123 30.6487C109.023 30.7878 108.909 30.9167 108.784 31.0335C108.44 31.3431 108.03 31.4213 107.589 31.3198C107.466 31.2882 107.348 31.235 107.242 31.1628C106.996 30.9911 106.781 30.7769 106.608 30.53C106.343 30.1639 106.113 29.774 105.92 29.3651C105.586 28.6664 105.293 27.9488 105.042 27.2157C104.56 25.8554 104.159 24.4704 103.77 23.0823C103.254 21.2365 102.749 19.3885 102.229 17.5443C102.071 16.9859 101.925 16.4222 101.69 15.8909C101.686 15.8789 101.654 15.8736 101.635 15.8751C101.627 15.8762 101.619 15.8792 101.611 15.8838C101.604 15.8885 101.598 15.8948 101.593 15.9022C101.578 15.9422 101.568 15.9842 101.565 16.0269C101.56 16.1772 101.558 16.3275 101.559 16.4778C101.575 19.7345 101.593 22.9911 101.612 26.2477C101.621 27.5637 101.656 28.8781 101.679 30.1948C101.683 30.3887 101.683 30.5828 101.679 30.7772C101.675 30.9358 101.593 31.0335 101.456 31.0343C100.773 31.0403 100.091 31.0418 99.4088 31.0425C99.3665 31.0391 99.3264 31.0221 99.2942 30.9942C99.262 30.9662 99.2394 30.9287 99.2297 30.887C99.2156 30.7584 99.1992 30.6299 99.197 30.5014C99.1851 29.9002 99.1792 29.2937 99.1673 28.6902C99.139 27.2232 99.1063 25.7593 99.0803 24.2908C99.0312 21.5732 99.0179 18.8557 99.0662 16.1374C99.0818 15.2536 99.1316 14.3705 99.1821 13.4875C99.2059 13.0794 99.2602 12.6721 99.3181 12.2662C99.3765 11.816 99.5794 11.3975 99.8956 11.0751C100.061 10.9056 100.265 10.7797 100.49 10.7083C100.673 10.647 100.87 10.6397 101.057 10.6873C101.286 10.7427 101.503 10.8359 101.702 10.9631C102.004 11.1662 102.274 11.416 102.5 11.7033C102.778 12.0587 103.012 12.448 103.194 12.8622C103.599 13.7652 103.953 14.6911 104.252 15.6354C104.731 17.1106 105.131 18.6077 105.528 20.1062C105.98 21.813 106.414 23.5249 106.94 25.2114C107.054 25.5811 107.181 25.9471 107.311 26.3131C107.345 26.3743 107.387 26.4309 107.435 26.4815Z"
          fill="#154E9C" />
        <path
          d="M114.691 20.6121C114.722 17.5089 114.754 14.4054 114.785 11.3016C114.785 11.175 114.785 11.0476 114.794 10.9216C114.805 10.711 114.895 10.6271 115.124 10.6396C115.672 10.6749 116.224 10.6992 116.768 10.7707C117.524 10.8605 118.27 11.0177 118.997 11.2405C119.401 11.3659 119.796 11.5149 120.182 11.6868C122.042 12.53 123.354 13.9012 124.119 15.7864C124.451 16.6318 124.68 17.5143 124.799 18.4147C124.901 19.1895 124.948 19.9706 124.939 20.752C124.939 22.515 124.523 24.1801 123.753 25.7597C123.259 26.7906 122.585 27.7251 121.761 28.519C120.779 29.4565 119.641 30.1193 118.31 30.4293C117.797 30.5599 117.27 30.6245 116.741 30.6215C116.212 30.6082 115.684 30.609 115.155 30.6024C115.028 30.6024 114.902 30.5928 114.775 30.5862C114.734 30.5804 114.695 30.5621 114.664 30.5339C114.632 30.5057 114.61 30.4687 114.601 30.4278C114.588 30.3237 114.58 30.219 114.578 30.1141C114.614 26.9475 114.651 23.7809 114.688 20.6143L114.691 20.6121ZM117.143 20.7594H117.137C117.137 21.0341 117.137 21.308 117.137 21.5827C117.111 23.4606 117.084 25.3387 117.056 27.217C117.056 27.4284 117.056 27.6397 117.056 27.8504C117.058 27.9127 117.072 27.9741 117.097 28.0315C117.106 28.0492 117.119 28.0648 117.134 28.0774C117.149 28.0901 117.167 28.0995 117.186 28.1052C117.399 28.1493 117.604 28.1052 117.81 28.0544C118.468 27.888 119.082 27.5835 119.612 27.1611C120.192 26.699 120.688 26.1402 121.077 25.5093C122.007 24.0366 122.502 22.3318 122.505 20.5908C122.507 19.7461 122.425 18.9033 122.258 18.0752C122.137 17.4314 121.924 16.8082 121.626 16.2246C121.175 15.3325 120.464 14.5972 119.588 14.1147C119.086 13.8434 118.555 13.6321 118.004 13.4851C117.154 13.2458 117.211 13.3319 117.203 14.111C117.182 16.3277 117.162 18.544 117.143 20.7601V20.7594Z"
          fill="#154E9C" />
        <path
          d="M128.839 20.1007C128.853 19.07 128.866 18.0401 128.882 17.0094C128.914 15.0782 128.947 13.1465 128.982 11.2144C128.982 11.1067 128.986 10.9997 128.992 10.8927C129 10.7319 129.072 10.6482 129.204 10.6429C129.284 10.6429 129.363 10.6377 129.443 10.6384C131.217 10.6429 132.991 10.6479 134.764 10.6534C134.883 10.6534 135.002 10.6601 135.122 10.6669C135.161 10.6709 135.198 10.6886 135.227 10.7173C135.256 10.7461 135.276 10.7843 135.283 10.8262C135.29 10.8683 135.295 10.9107 135.297 10.9533C135.297 11.5756 135.303 12.1987 135.301 12.8232C135.301 13.0393 135.216 13.1224 135.008 13.1358C134.848 13.1433 134.688 13.1448 134.529 13.1463C133.612 13.153 132.696 13.1575 131.779 13.1665C131.64 13.17 131.501 13.1838 131.363 13.2076C131.332 13.2121 131.305 13.2607 131.281 13.2936C131.27 13.3118 131.265 13.3328 131.265 13.3542C131.259 13.4178 131.25 13.4821 131.249 13.5457C131.211 15.6714 131.175 17.7965 131.139 19.9212C131.139 20.0064 131.139 20.0924 131.139 20.1785C131.143 20.3714 131.208 20.4455 131.393 20.4515C132.289 20.4814 133.186 20.5068 134.082 20.5375C134.979 20.5681 134.879 20.4455 134.868 21.4088C134.863 21.8815 134.847 22.3535 134.833 22.8247C134.83 22.867 134.813 22.9067 134.785 22.9372C134.758 22.9678 134.722 22.9872 134.683 22.9922C134.524 22.999 134.365 23.0064 134.206 23.0042C133.369 22.9952 132.532 22.9832 131.695 22.9735C131.557 22.9735 131.418 22.9735 131.279 22.9818C131.239 22.9839 131.201 23.0007 131.172 23.0293C131.142 23.0578 131.122 23.0965 131.116 23.1388C131.104 23.266 131.089 23.3946 131.087 23.5225C131.059 25.154 131.033 26.7853 131.009 28.4163C131.004 28.502 131.011 28.588 131.03 28.6714C131.039 28.7 131.054 28.7261 131.074 28.7477C131.094 28.7692 131.118 28.7856 131.144 28.7955C131.282 28.8156 131.421 28.8241 131.561 28.8209C132.498 28.818 133.435 28.8135 134.371 28.8075C134.53 28.8075 134.69 28.812 134.849 28.8142C134.888 28.8195 134.925 28.837 134.955 28.8645C134.985 28.892 135.006 28.9283 135.017 28.969C135.028 29.0322 135.035 29.0958 135.039 29.1598C135.045 29.7611 135.051 30.3622 135.055 30.9631C135.055 31.0057 135.047 31.0483 135.044 31.091C135.034 31.132 135.013 31.1692 134.985 31.1986C134.957 31.228 134.921 31.2485 134.883 31.2577C134.545 31.2847 134.207 31.3281 133.869 31.3325C132.853 31.3497 131.837 31.3505 130.821 31.3617C130.422 31.359 130.024 31.3132 129.634 31.2248C129.024 31.0984 128.879 30.9668 128.77 30.2652C128.694 29.8001 128.653 29.3291 128.646 28.8568C128.635 27.3969 128.633 25.9399 128.72 24.4791C128.761 23.794 128.765 23.1059 128.78 22.4193C128.798 21.6467 128.809 20.874 128.823 20.1007H128.839Z"
          fill="#154E9C" />
        <path
          d="M146.793 31.3617C146.606 31.3079 146.51 31.1583 146.395 31.0367C144.954 29.5137 143.515 27.9894 142.077 26.4639C141.945 26.3246 141.803 26.1957 141.66 26.0689C141.646 26.0564 141.557 26.0866 141.555 26.1028C141.535 26.2494 141.524 26.3971 141.522 26.545C141.522 27.856 141.522 29.1671 141.516 30.4781C141.51 31.4361 141.63 31.3278 140.658 31.3322C140.182 31.3322 139.705 31.3249 139.228 31.3175C139.174 31.3168 139.122 31.2959 139.083 31.259C139.044 31.2221 139.021 31.1721 139.019 31.1193C139.01 30.8657 139.002 30.6122 139.002 30.3587C139.012 24.7338 139.023 19.1084 139.034 13.4825C139.034 12.6998 139.034 11.9179 139.04 11.1353C139.042 11.0088 139.054 10.8826 139.077 10.7579C139.084 10.7384 139.095 10.7206 139.11 10.7058C139.125 10.6911 139.143 10.6797 139.163 10.6725C139.225 10.6528 139.289 10.6434 139.354 10.6445C140.416 10.6445 141.479 10.626 142.54 10.6533C143.452 10.6762 144.35 10.8738 145.184 11.2348C146.392 11.7417 147.363 12.6697 147.908 13.8377C148.227 14.51 148.437 15.2272 148.528 15.9631C148.649 16.7806 148.656 17.6103 148.549 18.4296C148.406 19.4289 148.088 20.3619 147.498 21.1969C146.865 22.093 146.014 22.7276 144.996 23.152C144.538 23.3459 144.059 23.4878 143.569 23.5751C143.441 23.5999 143.315 23.6314 143.191 23.6694C143.171 23.6763 143.153 23.688 143.139 23.7035C143.125 23.719 143.115 23.7377 143.11 23.7579C143.105 23.7782 143.106 23.7992 143.112 23.8192C143.118 23.8391 143.129 23.8573 143.143 23.872C143.269 24.0194 143.394 24.1668 143.521 24.3046C144.407 25.2627 145.294 26.2207 146.182 27.1788C146.895 27.9459 147.612 28.7109 148.325 29.4788C148.397 29.5566 148.463 29.6404 148.52 29.7294C148.528 29.7483 148.532 29.7687 148.53 29.7892C148.529 29.8096 148.523 29.8294 148.513 29.8473C148.48 29.9025 148.438 29.9523 148.389 29.9947C147.909 30.4226 147.428 30.8495 146.946 31.2755C146.898 31.3093 146.847 31.3382 146.793 31.3617ZM141.531 17.179H141.525C141.525 18.3193 141.525 19.4592 141.525 20.5985C141.525 20.7673 141.536 20.9353 141.546 21.1033C141.551 21.1452 141.572 21.1839 141.603 21.2125C141.635 21.2411 141.676 21.2578 141.72 21.2595C142.434 21.2426 143.144 21.1917 143.835 20.9824C144.837 20.6773 145.496 20.0244 145.83 19.0619C145.879 18.9219 145.922 18.7804 145.957 18.6367C146.146 17.8467 146.152 17.0456 146.071 16.2446C146.033 15.9516 145.963 15.6634 145.864 15.3845C145.506 14.2968 144.745 13.6048 143.63 13.2798C143.068 13.1192 142.485 13.0424 141.899 13.0521C141.877 13.0521 141.856 13.0521 141.834 13.0521C141.644 13.0609 141.547 13.1435 141.54 13.3137C141.533 13.4839 141.531 13.6512 141.531 13.82C141.531 14.9431 141.531 16.0628 141.531 17.179Z"
          fill="#154E9C" />
        <path
          d="M165.919 11.0782C166.026 10.9235 166.118 10.7564 166.258 10.6384C166.305 10.6379 166.353 10.6448 166.398 10.6589C167.034 11.0416 167.658 11.4433 168.282 11.8779C168.26 11.9599 168.23 12.0397 168.192 12.1162C168.081 12.295 167.958 12.4673 167.841 12.6432C166.307 14.9449 164.744 17.2282 163.104 19.4603C163.017 19.579 162.938 19.7037 162.865 19.8092C162.877 20.0093 162.984 20.1457 163.066 20.2901C163.773 21.5377 164.481 22.7838 165.191 24.0285C166.228 25.8405 167.268 27.6513 168.311 29.4609C168.405 29.6258 168.495 29.7922 168.584 29.9601C168.609 30.0071 168.614 30.0617 168.598 30.1122C168.583 30.1628 168.547 30.2052 168.5 30.2306C168.41 30.2848 168.316 30.3361 168.224 30.3874C166.779 31.1894 166.582 31.292 166.53 31.2267C166.142 30.7473 165.888 30.1888 165.594 29.6559C164.626 27.9018 163.592 26.1843 162.551 24.4712C162.496 24.3825 162.432 24.299 162.369 24.2154C162.357 24.2 162.327 24.1817 162.316 24.1868C162.281 24.2022 162.227 24.2271 162.225 24.2506C162.212 24.439 162.203 24.6274 162.202 24.8165C162.197 26.7712 162.194 28.7259 162.191 30.6806C162.191 30.869 162.176 31.0574 162.158 31.2458C162.158 31.2788 162.11 31.3191 162.075 31.3352C162.037 31.3537 161.995 31.3627 161.952 31.3616C161.29 31.3616 160.629 31.3599 159.968 31.3565C159.824 31.3565 159.745 31.2671 159.736 31.1131C159.728 30.9453 159.725 30.7767 159.726 30.6088C159.739 24.385 159.752 18.1607 159.766 11.9358C159.766 11.768 159.766 11.5994 159.775 11.4315C159.773 11.3792 159.792 11.3281 159.827 11.2887C159.862 11.2494 159.911 11.2247 159.964 11.2197C160.646 11.2197 161.329 11.2197 162.011 11.2197C162.064 11.2222 162.115 11.2443 162.152 11.2815C162.19 11.3188 162.212 11.3687 162.215 11.4213C162.222 11.6104 162.226 11.7995 162.226 11.9886C162.226 13.2103 162.224 14.4301 162.22 15.6479C162.22 15.7945 162.233 15.9411 162.244 16.0877C162.244 16.1009 162.271 16.1221 162.287 16.1229C162.327 16.1229 162.385 16.1338 162.402 16.1133C162.497 16.0004 162.587 15.8834 162.671 15.7622C163.754 14.1984 164.836 12.6359 165.919 11.0745V11.0782Z"
          fill="#154E9C" />
        <path
          d="M173.787 31.3014C173.225 31.3214 172.663 31.3421 172.102 31.3591C171.986 31.3656 171.87 31.3599 171.755 31.3421C171.712 31.3339 171.643 31.2682 171.642 31.2238C171.612 30.5253 171.589 29.8268 171.568 29.1276C171.567 29.074 171.586 29.0222 171.619 28.9835C171.653 28.9447 171.7 28.9222 171.749 28.9206C171.884 28.9132 172.019 28.9103 172.154 28.9066C172.328 28.9014 172.503 28.9006 172.677 28.8933C172.819 28.8873 172.899 28.8083 172.907 28.6715C172.914 28.5658 172.917 28.4601 172.919 28.3544C172.964 26.6371 173.008 24.9201 173.051 23.2032C173.091 21.6564 173.132 20.1091 173.173 18.5614C173.218 16.9086 173.263 15.2556 173.308 13.6024C173.314 13.5176 173.309 13.4325 173.296 13.3488C173.294 13.3168 173.281 13.2866 173.261 13.2634C173.24 13.2402 173.213 13.2252 173.184 13.221C173.011 13.2106 172.838 13.2054 172.664 13.2003C172.465 13.1944 172.388 13.1264 172.381 12.8906C172.362 12.2556 172.353 11.6192 172.341 10.9828C172.343 10.962 172.345 10.9413 172.349 10.9207C172.354 10.879 172.371 10.84 172.397 10.8094C172.423 10.7788 172.458 10.758 172.496 10.75C172.592 10.7389 172.688 10.7256 172.785 10.7234C173.986 10.6938 175.187 10.6655 176.388 10.6384C176.465 10.639 176.541 10.6511 176.615 10.6746C176.652 10.6894 176.681 10.7187 176.699 10.7566C176.714 10.7955 176.721 10.8378 176.719 10.8801C176.731 11.5157 176.74 12.1517 176.749 12.7878C176.747 12.8302 176.742 12.8724 176.736 12.9142C176.73 12.9556 176.712 12.9937 176.684 13.023C176.657 13.0523 176.622 13.0712 176.584 13.0768C176.314 13.0894 176.043 13.0975 175.773 13.1108C175.725 13.1108 175.678 13.1307 175.642 13.1666C175.607 13.2025 175.585 13.2517 175.581 13.3045C175.571 13.473 175.564 13.643 175.56 13.8123C175.498 15.9746 175.437 18.1363 175.376 20.2976C175.37 20.5305 175.362 20.764 175.356 20.9969C175.302 23.2439 175.249 25.4909 175.196 27.738C175.19 28.0336 175.186 28.3293 175.183 28.6249C175.187 28.6669 175.204 28.7063 175.23 28.7369C175.257 28.7676 175.292 28.7877 175.33 28.7942C175.368 28.7998 175.407 28.8027 175.446 28.8031C175.938 28.789 175.929 28.8201 175.944 29.3205C175.959 29.7869 175.978 30.2533 175.991 30.719C175.995 30.8454 175.985 30.9725 175.978 31.0982C175.969 31.1391 175.949 31.1764 175.921 31.2052C175.893 31.2339 175.858 31.253 175.82 31.26C175.685 31.2704 175.55 31.2815 175.414 31.2844C174.874 31.2948 174.33 31.3022 173.787 31.3103C173.787 31.3074 173.786 31.3044 173.787 31.3014Z"
          fill="#154E9C" />
        <path
          d="M180.561 20.6121C180.592 17.5089 180.623 14.4054 180.655 11.3016C180.655 11.175 180.655 11.0476 180.664 10.9216C180.674 10.711 180.765 10.6271 180.994 10.6396C181.542 10.6749 182.094 10.6992 182.638 10.7707C183.394 10.8606 184.14 11.0178 184.867 11.2405C185.271 11.3659 185.666 11.5149 186.052 11.6868C187.911 12.53 189.224 13.9012 189.99 15.7864C190.322 16.6318 190.55 17.5144 190.669 18.4147C190.771 19.1895 190.818 19.9706 190.81 20.752C190.81 22.515 190.394 24.1801 189.624 25.7597C189.13 26.7906 188.455 27.7251 187.632 28.519C186.649 29.4565 185.511 30.1193 184.181 30.4293C183.668 30.5599 183.141 30.6245 182.611 30.6215C182.083 30.6082 181.554 30.609 181.025 30.6024C180.898 30.6024 180.772 30.5928 180.645 30.5862C180.604 30.5803 180.565 30.5621 180.534 30.5338C180.503 30.5056 180.481 30.4686 180.471 30.4278C180.458 30.3238 180.45 30.219 180.449 30.1141C180.485 26.9475 180.521 23.7809 180.558 20.6143L180.561 20.6121ZM183.014 20.7594H183.007C183.007 21.0341 183.011 21.308 183.007 21.5827C182.98 23.4606 182.952 25.3387 182.924 27.217C182.924 27.4284 182.921 27.6397 182.924 27.8504C182.926 27.9128 182.94 27.9743 182.966 28.0315C182.975 28.0492 182.987 28.0648 183.003 28.0774C183.018 28.0901 183.036 28.0995 183.055 28.1052C183.267 28.1493 183.473 28.1052 183.679 28.0544C184.336 27.8879 184.95 27.5839 185.48 27.1625C186.06 26.7005 186.555 26.1416 186.943 25.5108C187.873 24.0379 188.369 22.3332 188.372 20.5922C188.375 19.7476 188.292 18.9048 188.125 18.0766C188.004 17.4329 187.791 16.8097 187.493 16.226C187.042 15.3342 186.332 14.5989 185.455 14.1162C184.954 13.845 184.422 13.6337 183.871 13.4866C183.02 13.2472 183.077 13.3334 183.07 14.1125C183.05 16.3281 183.032 18.544 183.014 20.7601V20.7594Z"
          fill="#154E9C" />
      </svg>

    </div>

    <div class="text-center mb-10">
      <h1 class="h1 text-4xl md:text-5xl font-bold text-gray-900 mb-2">Welcome!</h1>
      <p class="text-gray-500 text-lg">Sign in to your account or create a new one.</p>
    </div>

    <!-- Tab Buttons -->
    <div class="flex rounded-full bg-gray-100 p-1 mb-8">
      <button id="login-tab"
              class="flex-1 py-3 px-4 rounded-full font-bold text-center transition-colors duration-200 bg-white shadow-lg text-gray-900">
        Login
      </button>
      <button id="register-tab"
              class="flex-1 py-3 px-4 rounded-full font-bold text-center transition-colors duration-200 text-gray-600 hover:bg-gray-200">
        Register
      </button>
    </div>

    <!-- Login Form -->
    <form id="login-form" class="space-y-6" novalidate>
      <div>
        <label for="login-email" class="block text-sm font-bold text-gray-700 mb-2">Email Address</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-envelope text-lg"></i>
          </span>
          <input type="email" id="login-email"
                 class="block w-full pl-14 pr-5 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="you@wonderkid.com" required>
        </div>
        <p id="login-email-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="login-password" class="block text-sm font-bold text-gray-700 mb-2">Password</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-lock text-lg"></i>
          </span>
          <input type="password" id="login-password"
                 class="block w-full pl-14 pr-14 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="Enter your password" required minlength="6">
          <button type="button" id="toggle-login-password"
                  class="absolute inset-y-0 right-0 flex items-center pr-5 text-gray-400 hover:text-indigo-500 transition-colors">
            <i class="fas fa-eye text-lg"></i>
          </button>
        </div>
        <p id="login-password-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div class="text-right">
        <a href="#" class="text-sm font-semibold text-indigo-600 hover:text-indigo-500 transition-colors">Forgot Password?</a>
      </div>
      <button type="submit"
              class="w-full py-4 rounded-2xl font-bold text-white text-lg bg-gradient-to-r from-indigo-600 to-blue-500 hover:from-indigo-700 hover:to-blue-600 transition-all duration-300 shadow-lg hover:shadow-2xl h-14 transform hover:-translate-y-0.5 active:translate-y-0 active:shadow-md">
        <span id="login-btn-text" class="btn-text tracking-wide">Log In</span>
      </button>

    </form>

    <!-- Register Form -->
    <form id="register-form" class="space-y-5 hidden" novalidate>
      <!-- Role Selection -->
      <div>
        <label class="block text-sm font-bold text-gray-700 mb-3">Register as</label>
        <div class="flex gap-3">
          <label class="flex-1 cursor-pointer">
            <input type="radio" name="register-role" value="admin" class="hidden peer">
            <div class="peer-checked:border-indigo-500 peer-checked:bg-indigo-50 peer-checked:text-indigo-700 border-2 border-gray-200 rounded-xl py-3 px-4 text-center font-semibold text-gray-500 transition-all duration-200 hover:border-indigo-300">
              <i class="fas fa-user-shield text-lg mb-1 block"></i>
              <span class="text-sm">Admin</span>
            </div>
          </label>
          <label class="flex-1 cursor-pointer">
            <input type="radio" name="register-role" value="student" class="hidden peer" checked>
            <div class="peer-checked:border-indigo-500 peer-checked:bg-indigo-50 peer-checked:text-indigo-700 border-2 border-gray-200 rounded-xl py-3 px-4 text-center font-semibold text-gray-500 transition-all duration-200 hover:border-indigo-300">
              <i class="fas fa-graduation-cap text-lg mb-1 block"></i>
              <span class="text-sm">Student</span>
            </div>
          </label>
          <label class="flex-1 cursor-pointer">
            <input type="radio" name="register-role" value="trainer" class="hidden peer">
            <div class="peer-checked:border-indigo-500 peer-checked:bg-indigo-50 peer-checked:text-indigo-700 border-2 border-gray-200 rounded-xl py-3 px-4 text-center font-semibold text-gray-500 transition-all duration-200 hover:border-indigo-300">
              <i class="fas fa-chalkboard-teacher text-lg mb-1 block"></i>
              <span class="text-sm">Trainer</span>
            </div>
          </label>
        </div>
        <p id="register-role-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="register-name" class="block text-sm font-bold text-gray-700 mb-2">Full Name</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-user text-lg"></i>
          </span>
          <input type="text" id="register-name"
                 class="block w-full pl-14 pr-5 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="John Doe" required>
        </div>
        <p id="register-name-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="register-email" class="block text-sm font-bold text-gray-700 mb-2">Email Address</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-envelope text-lg"></i>
          </span>
          <input type="email" id="register-email"
                 class="block w-full pl-14 pr-5 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="you@wonderkid.com" required>
        </div>
        <p id="register-email-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="register-phone" class="block text-sm font-bold text-gray-700 mb-2">Phone Number</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-phone text-lg"></i>
          </span>
          <input type="tel" id="register-phone"
                 class="block w-full pl-14 pr-5 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="+374 XX XXX XXX" required>
        </div>
        <p id="register-phone-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="register-password" class="block text-sm font-bold text-gray-700 mb-2">Password</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-lock text-lg"></i>
          </span>
          <input type="password" id="register-password"
                 class="block w-full pl-14 pr-14 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="Min 6 characters" required minlength="6">
          <button type="button" id="toggle-register-password"
                  class="absolute inset-y-0 right-0 flex items-center pr-5 text-gray-400 hover:text-indigo-500 transition-colors">
            <i class="fas fa-eye text-lg"></i>
          </button>
        </div>
        <p id="register-password-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <div>
        <label for="register-confirm-password" class="block text-sm font-bold text-gray-700 mb-2">Confirm Password</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-5 text-indigo-400 pointer-events-none">
            <i class="fas fa-lock text-lg"></i>
          </span>
          <input type="password" id="register-confirm-password"
                 class="block w-full pl-14 pr-5 py-4 text-base text-gray-800 bg-gray-50 border-2 border-gray-200 rounded-2xl outline-none transition-all duration-300 hover:border-indigo-300 hover:bg-white focus:border-indigo-500 focus:bg-white focus:ring-4 focus:ring-indigo-100 placeholder-gray-400"
                 placeholder="Repeat password" required minlength="6">
        </div>
        <p id="register-confirm-error" class="mt-1.5 text-xs text-red-500 hidden"></p>
      </div>
      <button type="submit"
              class="w-full py-4 rounded-2xl font-bold text-white text-lg bg-gradient-to-r from-emerald-600 to-green-500 hover:from-emerald-700 hover:to-green-600 transition-all duration-300 shadow-lg hover:shadow-2xl h-14 transform hover:-translate-y-0.5 active:translate-y-0 active:shadow-md">
        <span id="register-btn-text" class="btn-text tracking-wide">Create Account</span>
      </button>
    </form>

    <div id="message-box" class="mt-8 p-4 rounded-lg text-sm text-center font-medium hidden"></div>

  </div>

  <!-- Image Section with Gradient Overlay -->
  <div
    class="hidden md:flex md:w-1/2 items-center justify-center p-8 lg:p-12 bg-gradient-to-br from-[#4103fc] via-[#fcdb03]  to-[#fc0303] relative rounded-3xl">
    <div class="relative text-white text-center z-10">
      <h2 class="h2 text-4xl font-bold mb-4 leading-tight">LEGO Education Inspires Learning You Can Build On</h2>
      <p class="text-lg font-light leading-relaxed max-w-sm mx-auto">
        Learning solutions designed to empower students and teachers, build deeper understanding and engagement, and
        ignite a life-long love of learning.
      </p>
      <img src="/images/pngaaa.com-2430743%20(1)%201.png" alt="Wonder Kid Illustration"
           class="mt-8 rounded-2xl  max-w-full h-auto">
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>
</body>
</html>
