@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f2f5;
}

.h1, .h2, .btn-text {
    font-family: 'Poppins', sans-serif;
}
