<section id="blog" class="py-20 px-6 lg:px-12 text-center animate-fadeIn"
         style="background-image: url('https://cdn.britannica.com/48/182648-050-6C20C6AB/LEGO-bricks.jpg'); background-size: cover; background-position: center;">
  <div class="relative  h-64 flex  p-6">
    <div class="absolute inset-0  bg-opacity-70"></div>
    <h1 class="text-white text-5xl font-bold z-10 rotated-text">BLOG</h1>

  </div>
</section>