 <section style="background-color: #07993A" class="bg-yellow-400 py-20 px-6 lg:px-12 text-center animate-fadeIn" style="animation-delay: 2s;">
    <div class="container ">
      <h4 style="display: flex; justify-content: start" class="text-3xl text-white font-extrabold mb-2">APPLY FOR
        COURSE</h4>

      <!-- The form now uses a single grid for all elements -->
      <form action="/candidates/register" method="post" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 items-center">
        <input type="text" id="fullName" name="fullName" placeholder="Your full name *"
               class="w-full px-4 py-3 rounded-lg bg-white text-gray-800 transition duration-200">
        <input type="email" id="email" name="email" placeholder="Your email *"
               class="w-full px-4 py-3 rounded-lg bg-white text-gray-800 transition duration-200">
        <input type="tel" id="phones" name="phones" placeholder="+374 "
               class="w-full px-4 py-3 rounded-lg bg-white text-gray-800 transition duration-200">
        <button type="submit"
          class="bg-blue-600 text-white text-sm font-medium px-6 py-2 rounded-full hover:bg-blue-700 transition duration-200 transform hover:scale-105 shadow-md">APPLY
          NOW</button>

      </form>
    </div>
  </section>