<!-- Product Details Section -->
<section style="margin-top: 100px" id="products-img"
         class="container mx-auto px-6 py-20 animate-fadeIn flex justify-center"
         style="animation-delay: 1s;">

  <img src="/images//Group%20383.png"
       alt="Product showcase"
       class="w-full max-w-xs sm:max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-4xl h-auto object-contain" />
</section>